.places {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 80px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1080px) {
  .places {
    width: calc(100% - 48px - 48px);
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: calc(100% - 24px - 24px);
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    grid-row-gap: 50px;
  }
}