.place {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 0;
  max-width: 984px;
  padding: 0;
  grid-template-areas:
    "title url"
    "img text";
  grid-template-rows: 152px 460px;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
}

.place:nth-of-type(2) {
  grid-template-rows: 76px 460px;
}

.place:nth-of-type(3) {
  grid-template-rows: 76px 460px;
}

.place:nth-of-type(5) {
  grid-template-rows: 76px 460px;
}

@media screen and (max-width: 1056px) {
  .place {
    grid-template-rows: max-content 440px;
    grid-template-columns: 440px 456px;
    column-gap: 28px;
    row-gap: 48px;
    justify-content: center;
  }

  .place:nth-of-type(2) {
    grid-template-rows: 76px 440px;
  }

  .place:nth-of-type(3) {
    grid-template-rows: 76px 440px;
  }

  .place:nth-of-type(5) {
    grid-template-rows: 76px 440px;
  }

  .place:last-of-type {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 940px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: 52px 441px;
  }

  .place:nth-of-type(2) {
    grid-template-rows: 38px 441px;
  }

  .place:nth-of-type(3) {
    grid-template-rows: 39px 389px;
  }

  .place:nth-of-type(4) {
    grid-template-rows: 38px 340px;
  }

  .place:last-of-type {
    margin-bottom: 90px;
    grid-template-rows: 38px 390px;
  }
}

@media screen and (max-width: 765px) {
  .place {
    margin-top: 50px;
    padding-top: 0;
    grid-template-columns: 320px;
    grid-template-rows: 35px 46px 320px 545px;
    row-gap: 32px;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-areas:
      "title"
      "url"
      "img"
      "text";
  }

  .place:nth-of-type(2) {
    grid-template-rows: 35px 46px 320px 519px;
  }

  .place:nth-of-type(3) {
    grid-template-rows: 35px 46px 320px 493px;
  }

  .place:nth-of-type(4) {
    grid-template-rows: 35px 46px 320px 449px;
  }

  .place:last-of-type {
    margin-bottom: 66px;
    grid-template-rows: 55px 46px 320px 468px;
  }
}