.lead {
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto 0 auto;
}

@media screen and (min-width: 1023px) {
    .lead {
        margin: 0 48px 0 48px;
    }
}

@media screen and (min-width: 1279px) {
    .lead {
        margin: 0 148px 0 148px;


    }
}