.photo-grid__item {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 1023px) {
  .photo-grid__item {
      max-width: 300px;
  }
}

@media screen and (min-width: 1247px) {
  .photo-grid__item {
    max-width: 284px;
  }
}