/*.place__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  .place__text {
    margin-top: auto;
  }
}*/

.place__text {
  margin-top: 0;
  margin-bottom: 0;
}

.place__text:first-child {
  margin-bottom: 26px;
}

.place__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 984px) {
  .place__text:first-child {
    margin-bottom: 25px;
  }
}

