.content__photo-grid {
  margin: 0 auto 0;
}

@media screen and (min-width: 319px) {
  .content__photo-grid {
    margin: 0;
    padding-bottom: 63px;
  }
}

@media screen and (min-width: 567px) {
  .content__photo-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 767px) {
  .content__photo-grid {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1023px) {
  .content__photo-grid {
    padding-bottom: 87px;
  }
}

@media screen and (min-width: 1279px) {
  .content__photo-grid {
    padding-bottom: 86px;
  }
}