.content__photo-grid {
  margin: 0 auto 0;
}
    
@media screen and (min-width: 1279px) {
 .content__photo-grid {
   margin: 0 48px 0;
   padding-bottom: 30px;
  }
}
    
@media screen and (min-width: 1023px) {
  .content__photo-grid {
    margin: 0 48px;
    padding-bottom: 20px;
  }
}
