.lead__title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin: 8px;
}

@media screen and (min-width: 319px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px auto;
    max-width: 286px;
  }
}

@media screen and (min-width: 567px) {
  .lead__title {
    font-size: 60px;
    line-height: 70px;
    min-width: 470px;
  }
}

@media screen and (min-width: 767px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    min-width: 670px;
    FONT-VARIANT: JIS04;
  }
}

@media screen and (min-width: 1023px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin: 56px auto 0 auto;
  }
}
