.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0 16px 0 16px;}

   @media screen and (min-width: 568px) {
    .lead__title {
    font-size: 66px;
    line-height: 70px;
    padding: 50px 20px 0 20px;
           }
   }

        @media screen and (min-width: 768px) {
            .lead__title {
            font-size: 96px;
            line-height: 100px;
            padding: 80px 24px 0 24px;
            }
        }
    
                @media screen and (min-width: 1024px) {
                    .lead__title {
                        font-size: 96px;
                        line-height: 100px;
                        padding: 10px 152px 0 152px;
                    }
                }

                                @media screen and (min-width: 1280px) {
                                    .lead__title {
                                        font-size: 96px;
                                        line-height: 100px;
                                        padding: 10px 280px 0 280px;
                                    }
                                }