.intro {
  margin: 89px 24px 88px 24px;
  min-width: 288px;
}

@media screen and (min-width: 767px) {
  .intro {
    max-width: 720px;
  }
}
    
@media screen and (min-width: 1023px) {
  .intro {
    max-width: 690px;
    padding: 92px 286px 92px 48px;
  }
}

@media screen and (min-width: 1279px) {
  .intro {
    max-width: 690px;
    padding: 92px 442px 92px 148px;
  }
}