.lead__subtitle {
  display: flex;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 40px auto;
}

 @media screen and (min-width: 319px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 267px;
    margin: 0 auto 40px auto;
  }
}

@media screen and (min-width: 767px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 642px;
    margin: 31px auto 55px auto;
    }
}
    
@media screen and (min-width: 1023px) {
  .lead__subtitle {
    padding: 3px 176px 0x 176px;
    font-size: 30px;
    line-height: 36px;
    max-width: 600px;
  }
}
    
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding: 16px aut 24px 304px;
    font-size: 30px;
    line-height: 36px;
  }
}