.header__lang-list {
  line-height: 20px;
  list-style-type: none;
  display: flex;
  margin: 0 0 0 35px;
  padding-bottom: 6px;
  flex-direction: row;
  justify-content: space-around;
  min-width: 80px;
}

@media screen and (min-width: 767px) {
  .header__lang-list {
    justify-content: space-between;
    margin: 21px 3px 0 0;
  }
}

@media screen and (min-width: 1023px) {
  .header__lang-list {
    justify-content: space-between;
    margin: 20px 0 0 0;
  }
}

