.header__lang-list {
  line-height: 20px;
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  min-width: 80px;
  padding-bottom: 8px;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .header__lang-list {
    padding: 0;
    min-width: auto;
    gap: 18px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1023px) {
  .header__lang-list {
    margin: 20px 0 0 0;
  }
}

