.header__lang-list {
  line-height: 20px;
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  min-width: 80px;
  padding-bottom: 8px;
}

@media screen and (min-width: 767px) {
  .header__lang-list {
    justify-content: space-between;
    margin: 0 0 4px 9px;
  }
}

@media screen and (min-width: 1023px) {
  .header__lang-list {
    margin: 20px 0 0 0;
  }
}

