.footer__item {
  margin: 0;
  padding: 0;
  margin-right: 17px;
}

@media screen and (min-width: 767px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1023px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1279px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}