.cover__title {
        font-family: 'Inter';
        /* min-width: 288px; */
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        margin: 0;
        line-height: 1.09;
        /* padding: 33px 16px 0 16px; */
        color: #FFFFFF;
        z-index: 0;}
 
    @media screen and (min-width: 568px) {
            .cover__title {
                font-size: 62px;
                line-height: 66px;
            
            }
    }


                @media screen and (min-width: 768px) {
                        .cover__title {
                                font-size: 72px;
                                line-height: 76px;
                                padding: 115px 104px 16px 104px;
                        }
                }
        
                @media screen and (min-width: 1024px) {
                        .cover__title {
                                padding: 195px 232px 16px 232px;
                                max-width: 550px;
                        }
                }

                                 @media screen and (min-width: 1280px) {
                                         .cover__title {
                                                 padding: 245px 312 16px 312px;
                                         }
                                 }