.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 319px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    align-items: flex-start;
    flex-direction: row;
    min-width: 720px;
  }
}

@media screen and (min-width: 940px) {
  .footer {
    align-items: center;
    flex-direction: row;
    max-width: 900px;
  }
}

@media screen and (min-width: 1023px) {
  .footer {
    align-items: center;
    flex-direction: row;
    max-width: 928px;
  }
}

@media screen and (min-width: 1279px) {
  .footer {
    align-self: flex-end;
    flex-direction: row;
    max-width: 1184px;
    max-height: 100px;
  }
}