.page__footer {
  margin: 92px 48px 24px;
}

@media screen and (min-width: 1023px) {
  .page__footer {
    margin: 87px 24px 24px;
    flex-direction: row;
  }
}

@media screen and (min-width: 767px) {
  .page__footer {
    margin: 84px 24px 24px;
  }
}